Source: cacophony-processing
Section: contrib/python
Priority: extra
Maintainer: Cacophony Project Developers <dev@cacophony.org.nz>
Build-Depends: debhelper (>= 9), python3, dh-virtualenv (>= 1.0), dh-systemd
Standards-Version: 3.9.5

Package: cacophony-processing
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python3, ${misc:Pre-Depends}
Depends: ffmpeg, ${misc:Depends}
Description: Processing of Cacophony Project recordings
