[Unit]
Description=Cacophony Project audio upload processing
After=network.target

[Service]
ExecStart=/usr/bin/cacophony-processing.pex -m audio_processing
Restart=on-failure
User=fullnoise
Group=fullnoise

[Install]
WantedBy=multi-user.target
